@use "../config/media.scss" as *;

.authButtons {
  display: flex;
  gap: 10px;

  @include mobile {
    display: none;
  }
}

.mobileMenuButtons {
  display: none;

  @include mobile {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 20px;
  }
}

.authButton,
.authButtonSecondary {
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease;

  @include mobile {
    padding: 6px 10px;
    font-size: 18px !important;
    text-align: center;
  }
}

.authButton {
  background-color: #0041C2;
  color: white !important;

  &:hover {
    background-color: #002f91;
  }
}

.authButtonSecondary {
  background-color: #fff;
  color: #0041C2 !important;
  border: 1px solid #0041C2;

  &:hover {
    background-color: #f0f0f0;
  }

}

.loggedIn {
  display: flex;
  flex-direction: column;

  @include mobile {
    display: none;
  }

  span {
    font-weight: bold;
    cursor: pointer;
  }

  .disconnect {
    padding: 10px;
    background: #0041C2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #002f91;
    }
  }
}

.mobileDisconnectButton {
  display: none;

  @include mobile {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #0041C2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #002f91;
    }
  }
}
