@use "@/config/media.scss" as *;

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  font-family: Lato, sans-serif;

  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
}

.suggest {
  margin-top: 40px;
  text-align: center;

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .suggestLink {
    display: inline-block;
    background-color: #0041c2;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin-bottom: 50px;

    &:hover {
      background-color: #0031a2;
    }
  }
}
