@font-face {
  font-family: 'BigJohn';
  src: url('/assets/fonts/BigJohn.woff2') format('woff2'),
       url('/assets/fonts/BigJohn.woff') format('woff'),
       url('/assets/fonts/BigJohn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
