@use "../../config/media.scss" as *;

.headerWrapper {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000;
  background-color: #F8F4EF;
  font-family: BigJohn, Arial;
  font-weight: 900;
  padding-bottom: 0;
  padding-top: 60px;
  height: 100px;

  transition: padding-top 1s ease, font-size 1s ease, height 1s ease, padding-bottom 1s ease;

  &.scrolled {
    padding-top: 10px;
    padding-bottom: 40px;
    height: 0;

    .logo img {
      height: 32px;

      @include mobile {
        height: 20px;
      }
    }

    @include mobile {
      padding-bottom: 30px;
    }
  }

  @include tablet {
    height: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.2rem;

    &.scrolled {
      padding-top: 15px;
      padding-bottom: 25px;
      height: 50px;

      .logo img {
        height: 45px;
      }
    }
  }

  @include mobile {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    padding-bottom: 10px;
    height: 30px;
  }
}

.headerSpacer {
  height: 200px;

  @include tablet {
    height: 150px;
  }

  @include mobile {
    height: 100px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 25px;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    max-width: 100%;
    padding: 0;
  }
}

.logo {
  p {
    display: flex;
    align-items: baseline;
    margin: 0;
    font-weight: bold;

    img {
      display: block;
      height: 75px;
      width: auto;
      transition: height 1s ease;

      @include tablet {
        height: 50px;
      }

      @include mobile {
        height: 37px;
      }
    }
  }
}

.nav {
  display: flex;

  a,
  span {
    color: black;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 700;
    position: relative;
    margin-left: 30px;
    letter-spacing: -1px;

    &:hover {
      color: #0041C2;
    }

    &::after {
      content: "";
      position: absolute;
      right: -15px;
      background-color: lightgray;
      width: 2px;
      height: 20px;

      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }

    &:last-child::after {
      content: none;
    }
  }

  span {
    color: #0041C2;
  }

  @include tablet {
    a,
    span {
      margin-left: 20px;
      font-size: 1rem;

      &::after {
        height: 16px;
        right: -12px;
        top: 0;
      }
    }
  }

  &.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    z-index: 999;

    a,
    span {
      font-size: 1.5rem;
    }
  }

  @include mobile {
    display: none;

    &.open {
      display: flex;
    }

    a,
    span {
      margin-right: 20px;
    }
  }
}

.burgerButton {
  display: none;
  position: relative;
  width: 40px;
  color: #080808;
  font-size: 3em;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;

  span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.3s;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  @include mobile {
    display: flex;
    margin-right: 24px;
  }
}

@include onlyTablet {
  .burgerButton {
    display: flex;
    margin-right: 20px;
    
    &.open {
      position: fixed;
      top: 50px;
      right: 20px;
      z-index: 10001;
    }
  }

  .nav {
    display: none;

    &.open {
      display: flex;
    }
  }
}

@include mobile {
  .nav {
    display: none;

    &.open {
      display: flex;
    }
  }
}
